<ion-view>
    <ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            Read Later
        </button>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a href="#/tabs/reading" 
        class="icon ion-ios-book-outline button button-icon"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSearch()" 
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content class="background">
        <div id="newsfeed" ng-repeat="item in favoriteNews">
            <p class="fancy" ng-show="item.timeline"><span>{{item.timeline}}</span></p>
            <div class="card newsfeed">
                <ion-item ng-class="{'star': item.star}"
                class="item-thumbnail-left item-text-wrap item-icon-right" 
                ng-click="assignCurrentReading(item)" href="#/tabs/reading">
                    <img src="{{item.thumbnail}}" alt="thumbnail">
                    <h2>{{item.title | limitTo: 40}}{{item.title.length > 40 ? '&hellip;' : ''}}</h2>
                    <p>{{item.source}}</p>
                    <p id="hashtag">
                        {{item.hashtag | limitTo: 25}}{{item.hashtag.length > 25 ? '&hellip;' : ''}}
                    </p>
                    <i id="bookmark" class="icon ion-bookmark stable" 
                    ng-click="toggleStar($event, item)" ng-class="{'energized': item.star}"></i>
                    <i id="share-icon" ng-click="share($event, item)" 
                    class="icon ion-android-share stable"></i>
                </ion-item>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreDataFavorite" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>