<ion-view>
    <ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            {{titleNews}}
        </button>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a href="#/tabs/news/{{currentNewsState.id}}"> 
            <i class="icon ion-ios-book-outline button button-icon"></i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSearch()" 
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-icon="" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list id="newsfeed">
            <ion-item ng-class="{'star': item.star}" ng-repeat="item in followingNews"
            class="item-thumbnail-left item-text-wrap item-icon-right" ng-click="assignCurrentNews(item)" 
            href="#/tabs/news/{{item.id}}">
                <img src="{{item.thumbnail}}" alt="thumbnail">
                <h2>{{item.title}}</h2>
                <p>{{item.hashtag}}</p>
                <i class="button button-clear icon ion-star padding-left" ng-click="toggleStar($event, item)"
                ng-class="{'button-energized': item.star}"></i>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="moreDataFollowing" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>