<ion-view view-title="Favorites">
  <ion-nav-buttons side="secondary">
    <a href="#/app/newsfeed/{{currentNewsState.id}}"
    class="icon ion-ios-book-outline button button-icon" ng-show="firstBlood"></a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list id="newsfeed">
      <ion-item collection-repeat="item in highlightNews" ng-click="assignCurrentNews(item)" 
      href="#/app/newsfeed/{{item.id}}" class="item-thumbnail-left item-text-wrap item-icon-right">
        <img src="{{item.thumbnail}}" alt="thumbnail">
        <h2>{{item.title}}</h2>
        <p>{{item.hashtag}}</p>
        <button class="button button-clear button-energized icon ion-star padding-left"
        ng-click="deleteItem($event, item)">
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>