<ion-view view-title="Favorites">
    <ion-nav-buttons side="secondary">
        <a href="#/tabs/news/{{currentNewsState.id}}" 
        class="icon ion-ios-book-outline button button-icon"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSearch()" 
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list id="newsfeed">
            <ion-item collection-repeat="item in favoriteNews" ng-click="assignCurrentNews(item)" 
            href="#/tabs/news/{{item.id}}" class="item-thumbnail-left item-text-wrap item-icon-right">
                <img src="{{item.thumbnail}}" alt="thumbnail">
                <h2>{{item.title}}</h2>
                <p>{{item.hashtag}}</p>
                <button class="button button-clear button-energized icon ion-star padding-left"
                ng-click="deleteItem($event, item)">
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>