<ion-modal-view>   
    <ion-header-bar align-title="center" class="bar-calm">
        <i ng-click="closeSetting()" 
        class="button button-icon icon-left ion-ios-arrow-back button-clear">
            Save
        </i>
        
        <label id="search2" class="item-input item-input-wrapper">
            <i class="icon icon-left ion-ios-search placeholder-icon"></i>
            <input id="searchBarSetting" type="search" ng-model="query" placeholder="Search">
        </label>
        <!-- <h1 id="list" class="title">Newsfeed Settings</h1>

        <button ng-click="onSearch()"
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button> -->
    </ion-header-bar>
    
    <ion-content>
        <div class="item item-divider item-icon-left">
            <i ng-click="toggleCheckbox()" ng-show="allListChecked"
            class="icon ion-ios-checkmark-outline positive"></i>

            <i ng-click="toggleCheckbox()" ng-hide="allListChecked"
            class="icon ion-ios-checkmark-outline"></i>

            Following Keyword
            
            <span class="badge badge-positive">{{listCount}}</span>
        </div>

        <ion-scroll style="height:529px">
            <div id="list" collection-repeat="item in keywords | filter:query" 
            class="item item-icon-right item-icon-left item-checkbox">
                <label class="checkbox checkbox-calm">
                    <input type="checkbox" ng-model="item.isChecked">
                </label>
                {{item.niceKeyword}}
                <i id="unfollow" ng-click="unfollow(item)" 
                class="button button-outline button-small icon">
                    Unfollow
                </i>
            </div>
        </ion-scroll>

        <!-- <div class="item item-divider item-icon-left">
            <i ng-click="toggleCheckbox()" ng-show="allListChecked"
            class="icon ion-ios-checkmark-outline positive"></i>

            <i ng-click="toggleCheckbox()" ng-hide="allListChecked"
            class="icon ion-ios-checkmark-outline"></i>

            Following Hashtag

            <span class="badge badge-positive">{{listCount}}</span>
        </div>

        <ion-scroll style="height:247px;" ng-hide="onHighlight">
            <div id="list" collection-repeat="item in keywords | filter:query" 
            class="item item-icon-right item-icon-left item-checkbox">
                <label class="checkbox checkbox-calm">
                    <input type="checkbox" ng-model="item.isChecked">
                </label>
                {{item.keyword}}
                <i id="unfollow" ng-click="" class="button button-outline button-small icon">
                    Unfollow
                </i>
            </div>
        </ion-scroll> -->

        <button id="list" ng-click="save()" class="button button-full button-positive">
            Go to Newsfeed
        </button>
    </ion-content>
</ion-modal-view>