<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu side="left">
        <ion-content class="custom">
            <ion-list>
                <ion-item id="header-menu" class="item-icon-left item-icon-right">
                    <i menu-close class="icon ion-ios-list"></i>
                    <a menu-close href="#/app/newsfeed">
                        Newsfeed
                    </a>

                    <i id="setting" class="icon ion-gear-a" ng-click="openSetting()"></i>
                </ion-item>

                <ion-item id="header-menu" class="item item-icon-left">
                    <i class="icon ion-ios-arrow-forward"></i>
                    <span class="badge badge-stable">0</span>
                    
                    Following list

                </ion-item>
                
                <ion-item id="header-menu" ng-hide="onHighlight" 
                class="item-icon-left">
                    <a menu-close href="#/app/highlight" ng-click="toggleHighlight()">
                        <i class="icon ion-star stable"></i>
                        Favorites
                    </a>
                </ion-item>

                <ion-item id="header-menu" ng-show="onHighlight" 
                class="item-icon-left">
                    <a menu-close href="#/app/newsfeed" ng-click="toggleHighlight()">
                        <i class="icon ion-star energized"></i>
                        Favorites
                    </a>
                </ion-item>


                <ion-item id="header-menu" class="item-icon-left">
                    <i class="icon ion-information-circled stable"></i>
                    About
                </ion-item>


                <ion-item id="header-menu" class="item-icon-left">
                    <i class="icon ion-log-out stable"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-calm">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="icon ion-navicon button button-icon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="newsfeedContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
