<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu side="left">
    	<ion-content class="custom">
      		<ion-list>
      			<ion-item id="header-menu" class="item-divider">
      				<!-- <i id="trash" ng-click="toggleCheckbox()" ng-show="allListChecked"
      				class="icon ion-checkmark-circled balanced"></i>
      				<i id="trash" ng-click="toggleCheckbox()" ng-hide="allListChecked"
      				class="icon ion-checkmark-circled stable"></i> -->

      				Following List

    				<!-- <i id="trash" ng-click="toggleDelete()" class="icon ion-trash-a stable"></i> -->
  				</ion-item>
  			</ion-list>
			<ion-scroll style="height:520px;" ng-hide="onHighlight">
				<ion-list ng-repeat="item in keywords" show-delete="shouldShowDelete">
		  			<ion-item id="keyword-list" class="item"
		  			ng-class="{'item-icon-left item-checkbox': !shouldShowDelete}">
		  				<label ng-if="!shouldShowDelete" class="checkbox checkbox-balanced">
							<input type="checkbox" ng-model="item.isChecked">
						</label>
		          		{{item.keyword}}
		          		<ion-delete-button class="ion-minus-circled" 
		          		ng-click="deleteItem(item)">
		          		</ion-delete-button>
			        </ion-item>
		        </ion-list>
	        </ion-scroll>
		    <ion-list>
		    	<ion-item id="header-menu" ng-hide="onHighlight" 
		    	class="item-divider item-icon-left">
		    		<a menu-close href="#/app/highlight" ng-click="toggleHighlight()">
      					<i id="trash" class="icon ion-star stable"></i>
      					Favorites
      				</a>
  				</ion-item>

  				<ion-item id="header-menu" ng-show="onHighlight" 
  				class="item-divider item-icon-left">
  					<a menu-close href="#/app/newsfeed" ng-click="toggleHighlight()">
      					<i id="trash" class="icon ion-star energized"></i>
      					Favorites
      				</a>
  				</ion-item>


  				<ion-item id="header-menu" class="item-divider item-icon-left">
      				<i id="trash" class="icon ion-information-circled stable"></i>
      				About
  				</ion-item>


  				<ion-item id="header-menu" class="item-divider item-icon-left">
      				<i id="trash" class="icon ion-log-out stable"></i>
      				Logout
  				</ion-item>
		    </ion-list>
    	</ion-content>
  	</ion-side-menu>

	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-calm">
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="icon ion-navicon button button-icon"></button>
	  		</ion-nav-buttons>
		</ion-nav-bar>
		
		<ion-nav-view name="newsfeedContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>
