<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu side="left">
        <ion-content class="custom">
            <ion-list>
                <ion-item menu-close href="#/app/newsfeed" id="header-menu" 
                class="item-icon-left item-icon-right">
                    <i class="icon ion-ios-list"></i>
                    <!-- <a menu-close href="#/app/newsfeed"> -->
                        Newsfeed
                    <!-- </a> -->

                    <i class="icon ion-gear-a" ng-click="openSetting($event)"></i>
                </ion-item>

                <ion-item id="header-menu" ng-click="toggleList()" class="item item-icon-left">
                    <i class="icon ion-ios-arrow-right" ng-hide="showList"></i>
                    <i class="icon ion-ios-arrow-down" ng-show="showList"></i>
                    <span class="badge badge-stable">{{listCount}}</span>
                    
                    Following list

                </ion-item>
            

                <ion-scroll style="height:400px" ng-show="showList">
                    <ion-list ng-repeat="item in keywords">
                        <div id="keyword-list" class="item item-icon-left">
                            <i class="icon ion-star stable" style="font-size: 120%"></i>
                            {{item.niceKeyword}}
                        </div>
                    </ion-list>
                </ion-scroll>

                <ion-item id="header-menu" menu-close href="#/app/highlight" class="item-icon-left">
                    <i class="icon ion-star stable"></i>
                    Favorites
                </ion-item>

                <ion-item id="header-menu" class="item-icon-left">
                    <i class="icon ion-arrow-graph-up-right stable"></i>
                    Trending
                </ion-item>


                <ion-item id="header-menu" class="item-icon-left">
                    <i class="icon ion-log-out stable"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content>
        <ion-nav-bar class="bar bar-calm">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="icon ion-navicon button button-icon">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="newsfeedContent"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>