<ion-view title="#News">
	
	<ion-content class="padding">
		<button class="button button-positive button-clear button-full" ui-sref="register">
			#News
		</button>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Email" ng-model="user.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="user.password">
			</label>
		</div>

		<button class="button button-full button-balanced" ng-click="login()">
			Login
		</button>
		<button class="button button-full button-positive" ng-click="fblogin()">
			Connect to Facebook
		</button>
		<!-- <label class="item item-input">
			<input type="text" ng-model="token">
		</label> -->
	</ion-content>
</ion-view>