<ion-view>
    
	<ion-content id="signin-background" scroll="false">
		<i id="closeButton" ng-click="back()"
	        class="button button-icon ion-close-round">
	    </i>

		<div id="register-group">
			<label id="login-field" class="item item-input">
				<input type="text" placeholder="Email" ng-model="user.email">
			</label>
			<label id="login-field" class="item item-input">
				<input type="password" placeholder="Password" ng-model="user.password">
			</label>
			<label id="login-field" class="item item-input">
				<input type="password" placeholder="Password Confirm" ng-model="user.passwordConfirm">
			</label>
		</div>

		<button id="signin" class="button" ng-click="signup()">
			Sign up
		</button>
	</ion-content>
</ion-view>