<ion-view>
	<ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            {{queryTitle}}
        </button>
    </ion-nav-title>
	<ion-nav-bar class="bar bar-calm">
		<ion-nav-buttons side="left"> 
        	<i class="button button-icon icon-right ion-ios-list button-clear" ng-click="backHome()">
        	</i>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
    		<button ng-click="back()" 
        	class="button button-icon icon-right ion-ios-search-strong button-clear">
        	</button>
    	</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="background">
		<div class="list card" ng-repeat="item in searchMediaResult">
			<ion-item ng-click="assignCurrentReading(item)" href="#/tabs/socialreading">
	            <div class="item item-avatar item-icon-right" ng-class="{'star': item.star}">
	                <img src="{{item.avatar}}" alt="avatar">
	                <h2 class="padding-top">{{item.source}}</h2>
	                <i id="media-star" class="button button-clear icon ion-star" 
	                ng-click="toggleStar($event, item)" ng-class="{'button-energized': item.star}"></i>
	            </div>

	            <div class="item item-image media-image">
	                <img src="{{item.thumbnail}}" alt="thumbnail">
	            </div>

	            <div class="item item-body">
	                <h2>{{item.title}}</h2>
	                <p>{{item.hashtag}}</p>
	            </div>
            </ion-item>
        </div>

		<ion-infinite-scroll ng-if="moreDataMediaSearch" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
	</ion-content>

	<div class="float-button" ng-hide="followed">
		<span class="height-fix">
			<a class="content">
				<i class="ion-plus-round" ng-click="follow()"></i>
			</a>
		</span>
	</div>
	
	<div class="float-button" ng-show="followed">
		<span class="height-fix">
			<a class="content">
				<i class="ion-checkmark" ng-click="unfollow()"></i>
			</a>
		</span>
	</div>
</ion-view>