<ion-view>
    <ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            Read Later
        </button>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a href="#/tabs/socialreading" 
        class="icon ion-ios-book-outline button button-icon"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSearch()" 
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content class="background">
        <div class="list" ng-repeat="item in favoriteMedia">
            <p class="fancy" ng-show="item.timeline"><span>{{item.timeline}}</span></p>
            <div class="card media">
                <div class="item item-image item-icon-right social-image">
                    <i id="social-bookmark" class="icon ion-bookmark float-favorite" 
                    ng-click="deleteItem($event, item)" ng-show="item.star"></i>
                    <a ng-click="assignCurrentReading(item)" href="#/tabs/socialreading"
                    on-double-tap="toggleStar($event, item)">
                    <img src="{{item.thumbnail}}">
                </div>
                <div class="item item-avatar">
                    <img src="{{item.avatar}}">
                    <h2>{{item.title}}</h2>
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreDataMediaFavorite" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>