<ion-view>
	<ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            {{queryTitle}}
        </button>
    </ion-nav-title>
	<ion-nav-bar class="bar bar-calm">
		<ion-nav-buttons side="left"> 
        	<i class="button button-icon icon-right ion-home button-clear" ng-click="backHome()">
        	</i>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
    		<button ng-click="back()" 
        	class="button button-icon icon-right ion-ios-search-strong button-clear">
        	</button>
    	</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="background">
		<div class="list card" ng-repeat="item in searchMediaResult">
            <div class="item item-image item-icon-right social-image">
                <a ng-click="assignCurrentReading(item)" href="#/tabs/socialreading">
                <img src="{{item.thumbnail}}">
            </div>
            <div class="item item-avatar">
                <img src="{{item.avatar}}">
                <h2>{{item.title}}</h2>
            </div>
        </div>

		<ion-infinite-scroll ng-if="moreDataMediaSearch" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
	</ion-content>

	<div class="float-button" ng-hide="followed">
		<span class="height-fix">
			<a class="content">
				<i class="ion-plus-round" ng-click="follow()"></i>
			</a>
		</span>
	</div>
	
	<div class="float-button" ng-show="followed">
		<span class="height-fix">
			<a class="content">
				<i class="ion-checkmark" ng-click="unfollow()"></i>
			</a>
		</span>
	</div>
</ion-view>