<ion-view>
    <ion-nav-title>
        <button id="title" on-double-tap="scrollTop()" class="button button-clear">
            Social Media
        </button>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a href="#/tabs/socialreading"> 
            <i class="icon ion-ios-book-outline button button-icon"></i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSearch()" 
        class="button button-icon icon-right ion-ios-search-strong button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content class="background">
        <ion-refresher pulling-icon="" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="card" ng-repeat="item in media">
            <ion-item ng-click="assignCurrentReading(item)" href="#/tabs/socialreading">

                <div class="item-image">
                    <img src="{{item.thumbnail}}" alt="thumbnail">
                </div>

                <!-- <div class="item-body"> -->
                    <div class="item-avatar">
                        <img src="{{item.avatar}}" alt="avatar">
                        <h2>{{item.title}}</h2>
                    </div>
                <!-- </div> -->
            </ion-item>
        </div>

        <ion-infinite-scroll ng-if="moreDataMedia" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>