<ion-view>
	<!-- <ion-nav-bar> -->
	<ion-header-bar id="searchBar" align-title="center" class="bar-calm item-input-inset">
		<i id="backButton" ng-click="back(value)"
        class="button-icon icon-left ion-ios-arrow-back">
        <!-- Back -->
        </i>
        <label id="search" class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <form ng-submit="search(value)">
                <input type="search" ng-model="value" ng-change="suggest(value)"
                placeholder="Search" focus="{{showSearchBar}}">
            </form>
        </label>
    </ion-header-bar>
    <!-- </ion-nav-bar> -->

    <ion-content class="has-header">
        <ion-list ng-repeat="item in suggestList" ng-show="empty">
        	<ion-item class="item-icon-left" ng-click="search('{{item}}')">
	            <i class="icon icon-left ion-ios-search placeholder-icon"></i>
	            {{item}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>